#modalAltaTitular.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                h2.modal-title Alta Titular
            .modal-body


                form#afiliacionTitular()
                    .row
                        .col
                            input#apellido_titular.form-control(type='text', placeholder='Apellido', value='', required='true', oninvalid="this.setCustomValidity('¡Este campo es obligatorio!')", oninput="setCustomValidity('')")
                        .col-6
                            input#nombre_titular.form-control(type='text', placeholder='Nombre', name='nombre', required='true', oninvalid="this.setCustomValidity('¡Este campo es obligatorio!')", oninput="setCustomValidity('')")
                        .col-2
                           select#sexo_titular.custom-select.mb-2.mr-sm-2.mb-sm-0.form-control(name='sexo', required='true', oninvalid="this.setCustomValidity('¡Este campo es obligatorio!')", oninput="setCustomValidity('')")
                                option(value='') Sexo
                                option(value='M') Masculino
                                option(value='F') Femenino
                    .row
                        .col-2
                            select#id_tipo_documento_titular.custom-select.mb-2.mr-sm-2.mb-sm-0.form-control(name='id_tipo_documento', oninput="setCustomValidity('')")
                                option(value='1') DNI
                                option(value='2') LC
                                option(value='3') LE
                        .col
                            input#numero_documento_titular.form-control(type='text', placeholder='Numero Documento', name='numero_documento', maxlength="8", required='true', oninvalid="this.setCustomValidity('¡Este campo es obligatorio!')", oninput="setCustomValidity('')")
                        .col-2
                            #grupo_sanguineo_titular_div
                    .row 
                        .col
                            label Fecha alta
                            input#fecha_alta_titular.form-control(type='date', name='fecha_alta', required='true', oninvalid="this.setCustomValidity('¡Este campo es obligatorio!')", oninput="setCustomValidity('')")
                        .col
                            label Fecha entrega tarjeta
                            input#fecha_tarjeta_titular.form-control(type='date',  name='fecha_tarjeta', oninput="setCustomValidity('')")
                        .col
                            label Fecha nacimiento
                            input#fecha_nacimiento_titular.form-control(type='date',  name='fecha_nacimiento', required='true', oninvalid="this.setCustomValidity('¡Este campo es obligatorio!')", oninput="setCustomValidity('')")

                    .row
                        .col-2
                            #id_reparticion_titular_div                            
                        .col
                            input#legajo_titular.form-control(type='number', placeholder='Legajo', name='legajo',required='true', oninvalid="this.setCustomValidity('¡Este campo es obligatorio!')", oninput="setCustomValidity('')")
                        .col
                            input#subcontrato_titular.form-control(type='text', placeholder='Subcontrato', name='subcontrato',required='true', oninvalid="this.setCustomValidity('¡Este campo es obligatorio!')", oninput="setCustomValidity('')")

                        .col-3
                            input#id_unidad_servicio_titular.form-control(type='text', placeholder='Unidad organizacional y Servicio', name='servicio',required='true', oninvalid="this.setCustomValidity('¡Este campo es obligatorio!')", oninput="setCustomValidity('')")
                        .col
                            input#lugar_pago_titular.form-control(type='text', placeholder='Lugar pago', name='lugar_pago',required='true', oninvalid="this.setCustomValidity('¡Este campo es obligatorio!')", oninput="setCustomValidity('')")
                        .col
                            input#cuil_titular.form-control(type='number', placeholder='Cuil', name='cuil',required='true', oninvalid="this.setCustomValidity('¡Este campo es obligatorio!')", oninput="setCustomValidity('')")
                    .row
                        //.col
                            //input.form-control(type='text', placeholder='CBU', name='cbu', oninput="setCustomValidity('')")

                        .col
                            #id_localidad_titular_div
                        .col
                            input#domicilio_titular.form-control(type='text', placeholder='Domicilio', name='domicilio',required='true', oninvalid="this.setCustomValidity('¡Este campo es obligatorio!')", oninput="setCustomValidity('')")
                        .col
                            input#email_titular.form-control(type='email', placeholder='Email', name='email', oninput="setCustomValidity('')")
                        .col
                            input#telefono_titular.form-control(type='tel', placeholder='Telefono', name='telefono',required='true', oninvalid="this.setCustomValidity('¡Este campo es obligatorio!')", oninput="setCustomValidity('')")
                        .col
                            #id_delegacion_titular_div
                    .row
                        input.form-control(type='hidden', value='0', name='numero_carga')

                    br
                    .row
                        .col
                            input#altaTitular.btn.btn-primary.btn-block(type='submit', value='Ingresar', )
                        .col
                            button.btn.btn-danger.btn-block(type='button', data-dismiss='modal') Cancelar
