//Dar Baja
#modalEstado.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content
            .modal-body
                #titulo_estado
                form#estado()
                    .row
                        .col
                            label Documento:
                            input#documento_estado.form-control(type='number', readonly)
                        .col
                            label Nuevo estado
                            #estados_estado_div
                        .col
                            label Ingrese fecha de cambio de estado
                            input#fecha_estado.form-control(type='date',  name='fecha_baja', required='true', oninvalid="this.setCustomValidity('¡Este campo es obligatorio!')", oninput="setCustomValidity('')")
                   
                        .col
                            label Motivo del cambio
                            #motivos_estado_div
                    .row
                        .col
                            label Observacion
                            input#observaciones_estado.form-control(type='text', required='true', oninvalid="this.setCustomValidity('¡Este campo es obligatorio!')", oninput="setCustomValidity('')")
                    br
                    .row
                        .col
                            
                            input.btn.btn-danger.btn-block(type='submit', value='Cambiar Estado')
                        .col
                            button.btn.btn-default.btn-block(type='button', data-dismiss='modal') Close
