br
h1 Buscar afiliado:
form()
    .row
        .col
            input#dniBuscar.form-control(type='number', placeholder='DNI', name='numero_documento')
        .col
            input#legajoBuscar.form-control(type='number', placeholder='Legajo', name='numero_legajo')
    .row
        .col
            input#nombreBuscar.form-control(type='text', placeholder='Nombre', name='nombre')
        .col
            input#apellidoBuscar.form-control(type='text', placeholder='Apellido', name='apellido')
    br
    //button#button.btn.btn-primary Boton
br
#datos


#mensaje

