#modalEditarTitular.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                h4.modal-title Editar Titular
            .modal-body
                form#editarTitularForm()
                    .row
                        .col
                            input#apellido_editar_titular.form-control(type='text', placeholder='Apellido', required='true')
                        .col-6
                            input#nombre_editar_titular.form-control(type='text', placeholder='Nombre', name='nombre')
                        .col-2
                           select#sexo_editar_titular.custom-select.mb-2.mr-sm-2.mb-sm-0.form-control(name='sexo')
                                option(selected=' ', value='') Sexo
                                option(value='M') Masculino
                                option(value='F') Femenino
                    .row
                        .col-2
                            select#id_tipo_documento_editar_titular.custom-select.mb-2.mr-sm-2.mb-sm-0.form-control(name='id_tipo_documento')
                                option(value='1') DNI
                                option(value='2') LC
                                option(value='3') LE
                        .col
                            input#numero_documento_editar_titular.form-control(type='text', placeholder='Numero Documento', name='numero_documento')
                        .col-2

                            input#grupo_sanguineo_editar_titular.form-control(type='text', placeholder='Grupo sanguineo', name='grupo_sanguineo')
                    .row 
                        .col
                            label Fecha alta
                            input#fecha_alta_editar_titular.form-control(type='date', name='fecha_alta') 
                        .col
                            label Fecha entrega tarjeta
                            input#fecha_tarjeta_editar_titular.form-control(type='date',  name='fecha_tarjeta')  
                        .col
                            label Fecha nacimiento
                            input#fecha_nacimiento_editar_titular.form-control(type='date',  name='fecha_nacimiento')  

                    .row
                        .col-2
                            #id_reparticion_editar_titular_div
                        .col
                            input#legajo_editar_titular.form-control(type='text', placeholder='Legajo', name='legajo')
                        .col
                            input#subcontrato_editar_titular.form-control(type='text', placeholder='Subcontrato', name='subcontrato')

                        .col-3
                            input#servicio_editar_titular.form-control(type='text', placeholder='Unidad organizacional y Servicio', name='servicio')
                        .col
                            input#lugar_pago_editar_titular.form-control(type='text', placeholder='Lugar pago', name='lugar_pago')
                        .col
                            input#cuil_editar_titular.form-control(type='text', placeholder='Cuil', name='cuil')
                    .row
                        //.col
                            //input.form-control(type='text', placeholder='CBU', name='cbu')

                        .col
                            input.form-control(type='text', placeholder='Codigo postal', name='codigo_postal')
                        .col
                            input.form-control(type='text', placeholder='Domicilio', name='domicilio')
                        .col
                            input.form-control(type='text', placeholder='Email', name='email')
                        .col
                            input.form-control(type='text', placeholder='Telefono', name='telefono')
                        .col
                            input.form-control(type='text', placeholder='Delegacion', name='delegacion')
                    .row


                        input.form-control(type='hidden', value='0', name='numero_carga')


                    br
                    .row
                        .col
                            input.btn.btn-primary.btn-block(type='submit', value='Editar')
                        .col
                            button.btn.btn-secondary.btn-block(type='button', data-dismiss='modal') Cerrar
                    //input.btn.btn-primary(type='submit', value='Ingresar')
