#modalAltaCarga.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                h4.modal-title Carga
            .modal-body
                include afiliacion_carga.pug
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
