 #altaTitularModal.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                h2.modal-title Alta Titular
            .modal-body
                include afiliacion_titular.pug
            .modal-footer
                .col
                    button.btn.btn-primary.btn-block(type='button') Afiliar
                .col
                    button.btn.btn-danger.btn-block(type='button', data-dismiss='modal') Cancelar
