#modalTitular.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                h4.modal-title Editar
            .modal-body
                    include editar_titular.pug

            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
