.row
    .col
        input#apellido_mostrar_titular.form-control(type='text')
    .col-6
        input#nombre_mostrar_titular.form-control(type='text')
    .col-2
        input#sexo_mostrar_titular.form-control(type='text')

.row
    .col-2
        input#id_tipo_documento_mostrar_titular.form-control(type='text')
    .col
        input#numero_documento_mostrar_titular.form-control(type='text', placeholder='Numero Documento', name='numero_documento')
    .col-2
        input#grupo_sanguineo_mostrar_titular.form-control(type='text', placeholder='Grupo sanguineo', name='grupo_sanguineo')
    .col-3
        input#id_estado_mostrar_titular.form-control(type='text', placeholder='estado', name='estado')
.row 
    .col
        label Fecha cambio estado
        input#fecha_estado_mostrar_titular.form-control(type='date', name='fecha_alta') 
    .col
        label Fecha entrega tarjeta
        input#fecha_tarjeta_mostrar_titular.form-control(type='date',  name='fecha_tarjeta')  
    .col
        label Fecha nacimiento
        input#fecha_nacimiento_mostrar_titular.form-control(type='date',  name='fecha_nacimiento')  

.row
    .col-2
        input#id_reparticion_mostrar_titular.form-control(type='text')
    .col
        input#legajo_mostrar_titular.form-control(type='text', placeholder='Legajo', name='legajo')
    .col
        input#subcontrato_mostrar_titular.form-control(type='text', placeholder='Subcontrato', name='subcontrato')

    .col-3
        input#id_unidad_servicio_mostrar_titular.form-control(type='text', placeholder='Unidad organizacional y Servicio', name='servicio')
    .col
        input#lugar_pago_mostrar_titular.form-control(type='text', placeholder='Lugar pago', name='lugar_pago')
    .col
        input#cuil_mostrar_titular.form-control(type='text', placeholder='Cuil', name='cuil')
.row
    //.col
        //input.form-control(type='text', placeholder='CBU', name='cbu')

    .col
        input#id_localidad_mostrar_titular.form-control(type='text', placeholder='Localidad', name='localidad')
    .col
        input#domicilio_mostrar_titular.form-control(type='text', placeholder='Domicilio', name='domicilio')
    .col
        input#email_mostrar_titular.form-control(type='text', placeholder='Email', name='email')
    .col
        input#telefono_mostrar_titular.form-control(type='text', placeholder='Telefono', name='telefono')
    .col
        input#id_delegacion_mostrar_titular.form-control(type='text', placeholder='Delegacion', name='delegacion')
.row
    input.form-control(type='hidden', value='0', name='numero_carga')
