.row
    .col
        input#apellido_mostrar_carga.form-control(type='text')
    .col-6
        input#nombre_mostrar_carga.form-control(type='text')
    .col-2
        input#sexo_mostrar_carga.form-control(type='text')
.row
    .col-2
        input#id_tipo_documento_mostrar_carga.form-control(type='text')
    .col
        input#numero_documento_mostrar_carga.form-control(type='text')
    .col-2
        input#grupo_sanguineo_mostrar_carga.form-control(type='text')
.row 
    .col
        label Fecha cambio estado
        input#fecha_estado_mostrar_carga.form-control(type='date')
    .col
        label Fecha entrega tarjeta
        input#fecha_tarjeta_mostrar_carga.form-control(type='date')
    .col
        label Fecha nacimiento
        input#fecha_nacimiento_mostrar_carga.form-control(type='date')
.row
    .col-2
        input#id_reparticion_propia_mostrar_carga.form-control(type='text')
    .col
        input#legajo_propio_mostrar_carga.form-control(type='text')
.row
    .col-2
        input#numero_carga_mostrar_carga.form-control(type='number')
br
